.inputField {
  display: flex;
  flex-direction: column;
  width: 100%;

  label {
    margin-bottom: .5rem;
    color: rgba(0, 32, 51, 0.60);
  }

  input {
    padding: 13px;
    border: 1px solid #00426947;
    border-radius: 4px;
    outline: none;
  }
  
  input.error {
    border-color: #EB3333;
  }

  input::placeholder {
    color: rgba(0, 32, 51, 0.35);
    font-size: 18px;
  }

  .errorLabel {
    margin-top: 4px;
    margin-left: 13px;
    color: #EB3333;
    font-size: 12px;
    line-height: 100%; 
  }
}