$primary-blue: #4343FF;
$hover-primary-blue: #3333cb;

$secondary-blue: #0078D2;
$hover-secondary-blue: #005ca2;

$green: #02BD85;
$hover-green: #00976a;

$black: #002033;
$white: #FFFFFF;

$primary-gray: #D9D9D9;
$hover-primary-gray: #b4b4b4;

$secondary-gray: #ABABAB;

$red: #FE4243;
$hover-red: #d03535;